<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Profile</h5>
      </div>

      <div class="card-block">
        <div class="row">
          <!-- profile photo card start -->
          <div class="col-lg-6 col-xl-3 col-md-6">
            <div class="card rounded-card user-card">
              <div class="card-block">
                <div class="img-hover">
                  <img class="img-fluid img-radius" src="assets/images/user-card/img-round1.jpg" alt="round-img">
                  <div class="img-overlay img-radius">
                    <span>
                      <a href="javascript:" class="btn btn-sm btn-primary ripple light" data-popup="lightbox"><i
                          class="icofont icofont-plus"></i></a>
                      <a href="javascript:" class="btn btn-sm btn-primary ripple light"><i
                          class="icofont icofont-link-alt"></i></a>
                    </span>
                  </div>
                </div>
                <div class="user-content">
                  <h4 class="">David</h4>
                  <p class="m-b-0 text-muted">27 years old</p>
                  <p class="m-b-0 text-muted">Marketing manager</p>
                </div>
              </div>
            </div>
          </div>
          <!-- profile photo card end -->

          <!-- basic card start -->
          <div class="col-md-6 col-xl-9">
            <div class="card">
              <div class="card-header">
                <h5>About Me</h5>
              </div>
              <div class="card-block">
                <div class="table-responsive">
                  <table class="table m-0 table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">Gender</th>
                            <td>Male</td>
                          </tr>
                      <tr>
                        <th scope="row">Location</th>
                        <td>New York, USA</td>
                      </tr>
                      
                      <tr>
                        <th scope="row">Working on</th>
                        <td>Projeto</td>
                      </tr>
                      <tr>
                        <th scope="row">Education</th>
                        <td>Graduate in Digital Marketing</td>
                      </tr>
                      <tr>
                        <th scope="row" i18n>Personality</th>
                        <td>Happy, dynamic and communicative</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- basic card end -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'What are your values?'" [headerContent]="'Describe values of the persona.'"
      [cardOptionBlock]="true">
      <ol>
        <li>Estilo de vida sustentável</li>
        <li>Vai trabalhar sem hora para sair</li>
        <li>Reunião com a equipe</li>
        <li>Acompanha as atitudes do time</li>
      </ol>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'What do you do on a daily basis?'" [headerContent]="'Describe routine of the persona.'"
      [cardOptionBlock]="true">
      <ol>
        <li>Estilo de vida sustentável</li>
        <li>Vai trabalhar sem hora para sair</li>
        <li>Reunião com a equipe</li>
        <li>Acompanha as atitudes do time</li>
      </ol>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'What are your goals?'" [headerContent]="'Describe values of the persona.'"
      [cardOptionBlock]="true">
      <ol>
        <li>Estilo de vida sustentável</li>
        <li>Vai trabalhar sem hora para sair</li>
        <li>Reunião com a equipe</li>
        <li>Acompanha as atitudes do time</li>
      </ol>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'What it consumes in the day-to-day?'" [headerContent]="'Describe routine of the persona.'"
      [cardOptionBlock]="true">
      <ol>
        <li>Estilo de vida sustentável</li>
        <li>Vai trabalhar sem hora para sair</li>
        <li>Reunião com a equipe</li>
        <li>Acompanha as atitudes do time</li>
      </ol>
    </app-card>
  </div>
</div>


<div class="row">
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'What brands does he usually consume?'" [headerContent]="'Describe values of the persona.'"
      [cardOptionBlock]="true">
      <ol>
        <li>Estilo de vida sustentável</li>
        <li>Vai trabalhar sem hora para sair</li>
        <li>Reunião com a equipe</li>
        <li>Acompanha as atitudes do time</li>
      </ol>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'What does he dream of doing?'" [headerContent]="'Describe routine of the persona.'"
      [cardOptionBlock]="true">
      <ol>
        <li>Estilo de vida sustentável</li>
        <li>Vai trabalhar sem hora para sair</li>
        <li>Reunião com a equipe</li>
        <li>Acompanha as atitudes do time</li>
      </ol>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'What are your pains?'" [headerContent]="'Describe values of the persona.'"
      [cardOptionBlock]="true">
      <ol>
        <li>Estilo de vida sustentável</li>
        <li>Vai trabalhar sem hora para sair</li>
        <li>Reunião com a equipe</li>
        <li>Acompanha as atitudes do time</li>
      </ol>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'How can your business impact positively on a person`s life?'"
      [headerContent]="'Describe routine of the persona.'" [cardOptionBlock]="true">
      <ol>
        <li>Estilo de vida sustentável</li>
        <li>Vai trabalhar sem hora para sair</li>
        <li>Reunião com a equipe</li>
        <li>Acompanha as atitudes do time</li>
      </ol>
    </app-card>
  </div>
</div>