<app-card [title]="'Editar Pesquisa'" [headerContent]="'Edite a pesquisa e veja como está o status do seu cliente!'"
  [cardOptionBlock]="true">
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" novalidate>
      <div class="row">
        <div class="col-md-12">
          <label class="col-form-label"><b>Título</b> (Digite o título de sua pesquisa)</label>
          <input type="text" class="form-control" id="title" name="title"
            [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" [(ngModel)]="survey.title" #title="ngModel"
            required />
          <div class="messages text-danger" *ngIf="f.submitted && title.invalid">
            Preencha o título da pesquisa.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="col-form-label"><b>Descrição</b> (Digite a descrição de sua pesquisa)</label>
          <input type="text" class="form-control" id="description" name="description"
            [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" [(ngModel)]="survey.description"
            #description="ngModel" required />
          <div class="messages text-danger" *ngIf="f.submitted && description.invalid">
            Preencha a descrição.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label><b>Ativo</b></label><br />
          <ui-switch class="js-single" name="active" switchColor="#fff" size="medium"
            [(ngModel)]="survey.active" title="Ativo" #flag_wizard></ui-switch>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 text-right m-t-10">
          <button type="submit" class="btn btn-success m-b-0 ripple light">
            Atualizar pesquisa
          </button>
          &nbsp;&nbsp;
          <button type="button" (click)="gotolist()" class="btn btn-grd-default ripple light ">
            Voltar para lista
          </button>
        </div>
      </div>
    </form>
</app-card>