<div class="page-body">
  <div class="row">
   <!-- income start -->
   <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 i18n>Justifications <i class="fa fa-comments"></i></h5>
        </div>
        <div class="card-block">
          <ol>
            <li>Recentemente tivemos 3 cancelamentos</li>
            <li>Clientes com percepção de chatbot  para realizar vendas</li>
            <li>Clientes com venda offline sem o controle da Chatbotmaker</li>
            <li>Taxa de churn atualmente de 13,64% e LTV de 5 meses (Global)</li>
            <li>Os clientes não entendem o que fazemos</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 i18n>SMART goal <i class="fa fa-trophy"></i></h5>
        </div>
        <div class="card-block">
          <h5>Fechar 9 clientes nos próximos 3 meses com uma RRM de 25k e poder migrar esses clientes em 12 meses
            </h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 i18n>Benefits <i class="fa fa-line-chart"></i></h5>
        </div>
        <div class="card-block">
            <ol>
                <li>Estabelecer um LTV mínimo de 12 meses</li>
                <li>Mapeamento do perfil do cliente ideal </li>
                <li>Alcançar uma receita recorrente mensal que chegue a 30% do breakeven</li>
              </ol>
        </div>
      </div>
    </div>
    <!-- income end -->
    
    <div class="col-sm-12">
      <app-card i18n-title [title]="'Ideal Customer'">
        <p>Empresas de grande porte que são localizadas no Ceará, com estrutura de Marketing interna ou externa que invista em marketing digital.</p>
      </app-card>
    </div>
  </div>
  <!--Personas start-->
  <h3 i18n>Personas</h3>
  <div class="row simple-cards users-card">
    <div class="col-md-12 col-xl-4">
      <div class="card user-card">
        <div class="card-header-img">
          <img class="img-fluid img-radius" src="assets/images/user-card/img-round6.jpg" alt="card-img">
          <h4>Patrícia</h4>
          <h5>35 anos</h5>
          <h6>Fortaleza / CE</h6>
        </div>
        <p>Trabalha em uma grande empresa do estado como diretora de marketing, tem pós graduaçnao em marketing e áreas afins.</p>
        <p>Ocupada, aberta a inovações e comunicativa.</p>        
        <div>
          <button type="button" class="btn btn-primary m-r-15 ripple light" i18n-title Title="More details"><i class="icofont icofont-plus m-r-5"></i>More details</button>
          <button type="button" class="btn btn-success ripple light" i18n><i class="icofont icofont-user m-r-5"></i>Edit</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <div class="card user-card">
        <div class="card-header-img">
          <img class="img-fluid img-radius" style="max-height: 300px;" src="assets/images/user-card/img-round1.jpg" alt="card-img">
          <h4>David</h4>
          <h5>27 anos</h5>
          <h6>Fortaleza / CE</h6>
        </div>        
        <p>Trabalha em uma grande empresa no estado como Gerente de Marketing, graduado em Marketing e áreas afins.</p>
        <p>Alegre, dinâmico e comunicativo.</p>
        <div>
          <button type="button" class="btn btn-primary m-r-15 ripple light" i18n><i class="icofont icofont-plus m-r-5"></i>More details</button>
          <button type="button" class="btn btn-success ripple light" i18n><i class="icofont icofont-user m-r-5"></i>Edit</button>
        </div>
      </div>
    </div>
  </div>
  <!--Personas end-->
</div>
